// Menu Button
.menu-btn {
  position: absolute;
  z-index: 3;
  left: 25px;
  top: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 16px 0 0 11px;
  cursor: pointer;
  @include easeOut;

  &:hover {
    background: rgba($secondary-color, 0.8);
  }

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
  }
}

// Menu Overlay
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  visibility: hidden;

  &.show {
    visibility: visible;
    background: rgba(darken($primary-color, 5), 0.3);
  }

  // Navigation bar
  &-nav {
    height: 100vh;
    width: 225px;
    margin: 0;
    padding: 0;
    box-shadow: 4px 0 8px 0 rgba(0, 0, 0, 0.2), 6px 0 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    display: flex;
    flex-flow: column wrap;
    float: left;
    background: rgba(darken($primary-color, 5), 1);
    list-style: none;
    transform: translate3d(-100%, 0, 0);
    @include easeOut;

    &.show {
      // Slide in from left
      transform: translate3d(0, 0, 0);
    }
  }

  // Style menu overlay parts
  &-top,
  &-bottom {
    width: 225px;
    padding-left: 32px;
    border-top: 1px solid black;
  }

  &-top {
    margin-top: 75px;
  }

  .nav-item {
    &.current > a {
      color: $secondary-color;
    }
  }

  .nav-link-top,
  .nav-link-bottom,
  .nav-link-mid {
    display: inline-block;
    position: relative;

    font-weight: 300;
    color: set-text-color($primary-color);
    text-decoration: none;
    @include easeOut;

    &:hover {
      color: $secondary-color;
    }
  }

  .nav-link-top {
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 25px;
  }

  .nav-link-mid {
    font-size: 18px;
    text-transform: uppercase;
    padding: 1rem 0;
  }

  .nav-link-bottom {
    padding: 10px;
  }
}
