// Menu Button
.menu-btn {
  position: absolute;
  z-index: 3;
  left: 25px;
  top: 25px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  @include easeOut;

  &.close {
    background: rgba($primary-color, 0.8);
  }

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 7px 0 5px 5px;
    background: #fff;
    @include easeOut;
  }
}

// Menu Overlay
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;

  &.show {
    visibility: visible;
    background: rgba(darken($primary-color, 5), 0.3);
  }

  &-nav {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 225px;
    margin: 0;
    padding: 0;
    background: rgba(darken($primary-color, 5), 1);
    list-style: none;
    transform: translate3d(-100%, 0, 0);
    @include easeOut;

    &.show {
      // Slide in from left
      transform: translate3d(0, 0, 0);
    }
  }
}
