// Widescreens
@include mediaXl {
}

// Desktops & Laptops
@include mediaLg {
  .contact-box {
    grid-template-areas:
      "contact1 contact2"
      "contact3 contact4";
    grid-template-columns: repeat(2, 1fr);
  }
}

// Tablets & Small Laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .heading1 {
      font-size: 4em;
      line-height: 1;
      margin-bottom: 2vh;
    }
  }

  .contact-box {
    grid-template-areas:
      "contact1"
      "contact2"
      "contact3"
      "contact4";

    grid-template-columns: 1fr;
  }
}

// Smartphones
@include mediaSm {
  main {
    .heading1 {
      margin: 3vh 0;
      font-size: 2.5em;
      line-height: 1;
    }

    .heading2 {
      margin: 2vh 0;
      font-size: 1.5em;
      line-height: 1.2;
    }
  }

  .product-categories {
    grid-template-columns: 1fr;
  }

  .products,
  .product1,
  .product2,
  .product3,
  .product4,
  .product5 {
    background-attachment: scroll;

    .ptext {
      line-height: 2;
    }
  }
}
